<!-- extend from base layout -->
{% extends "layout.html" %}

{% block content %}
  <h1>Registration</h1>
  <form action="" method="post" name="register">
      <p>
          Please enter your e_mail:<br>
          {{ form.e_mail(size=80) }}<br>
          {% for error in form.e_mail.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}<br>
      </p>
      <p>
          Please enter your password:<br>
          {{ form.pw(size=80) }}<br>
          {% for error in form.pw.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}<br>
      </p>
      <p><input type="submit" value="Register"></p>
  </form>
{% endblock %}